.hour-card
{
  min-width: 90px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  font-family: "Rubik";
  color: #222;

  padding: 0 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.hour-card:last-child
{
  border-right: none;
}

.hour-card__time
{
  font-size: 18px;
  font-weight: 500;
}

.hour-card__icon
{
  opacity: 0.7;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.hour-card__temp
{
  opacity: 0.7;
  font-size: 17px;
}

.hour-card__rain
{
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 3px;
}

.hour-card__rain-icon
{
  width: 15px;
  height: 15px;
}

.hour-card__wind
{
  font-size: 15px;
  opacity: 0.7;
}

