.weather-page-background
{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 32px 0;
  box-sizing: border-box;
}

.weather-page-container
{
  width: 1400px;
  max-width: 100%;
  padding: 0 24px 24px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.weather-page-menu-button
{
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
}

.weather-top-bar
{
  width: 100%;
  display: grid;
  grid-template-columns: 91px 720px 165px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.top-left
{
  display: flex;
  justify-content: flex-start;
}

.top-center
{
  display: flex;
  justify-content: center;
}

.top-right
{
  display: flex;
  justify-content: flex-end;
}

.top-button-box
{
  width: 91px;
  height: 91px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.50);

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top-time-box
{
  width: 165px;
  height: 91px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.50);

  color: #000;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.185;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.weather-layout
{
  width: 100%;
  display: grid;
  grid-template-columns: 441.732px 399.883px 320px;
  justify-content: space-between;
  align-items: start;
}

.left-section
{
  width: 441.732px;
  min-height: 676.082px;
}

.center-section
{
  width: 399.883px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.center-top-section
{
  width: 399.883px;
  height: 298.518px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-bottom-section
{
  width: 398px;
  height: 240.482px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section
{
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-top-section
{
  width: 100%;
  min-height: 220px;
  border-radius: 24px;
}

.right-bottom-section
{
  width: 345.13px;
  height: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
}